<h1 id="counter"></h1>
<hr>

<img id='game_image' alt='No Image' />
<hr>

<button onclick="addImage()">Add</button>
<hr>

<table border="1" id="play">
  <tr>
    <th>Image</th>
  </tr>

  <% @plays.each do |obj| %>
    <tr>
      <td><%= obj.timer %></td>
      <td><%= image_tag obj.image.link.variant(resize: "100x100") if obj.image %> </td>
    </tr>
  <% end %>
</table>


<script type="text/javascript">
  let counter = 10
  let images_arr = []
  let image_count = 0

  '<% @images.each do |obj| %>'
    images_arr.push({id: '<%= obj.id %>', link: '<%= obj.image_link %>'})
  '<% end %>'

  setInterval(function() {
    start_game();
  }, 1000);

</script>
